<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="no">

	<!-- Active le contrôle des annotations -->
	<context:annotation-config />
	<!-- Cherche les annotations Spring dans le package: -->
	<context:component-scan base-package="be.simulation" />

	<!-- où sont stockés les paramètres -->
	<context:property-placeholder
		location="classpath:configuration/general.properties, classpath:configuration/agents.properties" /> <!-- , ... -->

	<bean id="networkSimulation" class="be.simulation.NetworkSimulation"
		scope="prototype" />

	<!--
		TODO, voir ce qui est le mieux pour les configs: prototype ou
		singleton ?
	-->
	<bean id="networkSimulationConfiguration"
		class="be.simulation.configuration.NetworkSimulationConfiguration"
		scope="singleton">
		<property name="nom" value="${general.simulation_name}" />
	</bean>

	<bean id="agentsConfiguration" class="be.simulation.configuration.AgentsConfiguration"
		scope="singleton">
		<property name="nombreHotes" value="${agents.nombre_hotes}" />
	</bean>

	<bean id="hotesConfiguration" class="be.simulation.configuration.HotesConfiguration"
		scope="singleton">
	</bean>


	<!-- TODO -->
	<!--
		<bean id="agent" class="be.simulation.modele.Agent" scope="singleton"
		/> ... (plusieurs!)
	-->

</beans>